<div class="jumbotron">
  {{#if session.current_session}}
    Logged as {{session.current_user}}
    <button class="btn btn-primary" {{action "logout"}} >Logout</button>
    {{#link-to "tweets"}}<button class="btn-primary">Tweets</button>{{/link-to}}
    {{#link-to "channels"}}<button class="btn-primary">Channels</button>{{/link-to}}
  {{else}}
    {{#link-to "login"}}<button class="btn-primary">Login</button>{{/link-to}}
  {{/if}}

</div>

<div class="flash-messages">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
</div>
{{outlet}}
